#daftar_body{
    height: 375px;
    width: 375px;
    border-radius: 15%;
    background-color: yellowgreen;
    border: 15px solid green;
    margin-right: auto;
    margin-left: auto;
}

div.daftar_tengah{
    text-align: center;
}

div.atribut_daftar{
    width: 40%;
    display: inline-flex;
    float: left;
}

div.input_daftar{
    width: 60%;
    float: right;
    display: inline-flex;
}

div.baris_daftar{
    display: flex;
    margin-bottom: -10px;
}

input.tombol_register{
    margin-right: 10px;
    float: right;
    background-color: green;
    border-color: green;
}