#gambar{
    display: inline-block;
}

#edit_picture{
    display: inline-block;
    margin: auto;
}

#back{
    background-color: red;
    text-decoration: none;
    color: black
}

#save{
    color: black;
    position: absolute;
    text-align: right;
    text-decoration: none;
    background-color: green;
}