@font-face {
    font-family: 'VeneerClean'; /*a name to be used later*/
    src: url('VeneerCleanReg.otf'); /*URL to font*/
}

#login_body{
    height: 300px;
    width: 300px;
    border-radius: 15%;
    background-color: yellowgreen;
    border: 15px solid green;
    margin-right: auto;
    margin-left: auto;
    color: darkgreen;
}

.gothic{
    font-family: 'VeneerClean';
}

div.login_tengah{
    text-align: center;
    font-size: 20px;

}

div.atribut_login{
    width: 30%;
    float: left;
}

div.input_login{
    width: 70%;
    float: right;
}

div.baris_login{
    margin-bottom: -10px;
    display: flex;
    margin-left: 5px;
}

input.tombol_go {
    width: 80px;
    height: 25px;
    border: 2px solid black;
    border-radius: 10%;
    float: right;
    margin-right: 10px;
    background-color: green;
}
