#kesan_supir{
    display: block;
    text-align: center;
}

#gambar_supir{
    margin-left: auto;
    margin-right: auto;
}
#username_supir, #nama_supir{
    font-size: 30px;
}


#bnt_1, #bnt_2, #bnt_3, #bnt_4, #bnt_5{
    display: inline;
    margin-right: 5px;
    color: yellow;
    font-size: 30px;
}

#komentar_supir{
    line-height: 5em;
}