.supir_lainnya, .supir_pilihan{
    border: 2px solid black;
    width: 80%;
    border-radius: 10%;
    display: inline-block;
}

.supir{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gambar_supir{
    float: left;
    margin-bottom: 15px;
}

.identitas_supir{
    float: right;
    display: inline;
}

.nama_supir, .rating{
    margin-left: 10px;
}

.nama_supir{
    font-size: 30px;
}

.rating{
    display: inline;
    color: yellow;
}

.votes{
    display: inline;
}

.pesan_supir_submit{
    float: right;
    width: 100px;
    height: 35px;
    margin-left: 55%;
    border: 2px solid black;
    border-radius: 15%;
    background-color: greenyellow;
}