#pilihan{
    display: inline;
}

a.profil_box, a.history_box{
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

#order_box{
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    background-color: green;
    text-align: center;
}

#pilih_supir{
    width: 150px;
    background-color: yellow;
    display: inline-block;
    border: 2px solid grey;
}

#pilih_destinasi, #selesai_order{
    width: 150px;
    display: inline-block;
    border: 2px solid grey;
    text-decoration: none;
    color: black;
}

div.supir_lainnya, div.supir_pilihan{
    border: 2px solid black;
}

div.supir{

}