#pilihan{
    display: inline;
}

.pilih_selected{
    margin-right: 15px;
    width: 150px;
    height: inherit;
    background-color: yellow;
    display: inline-flex;
    border: 2px solid grey;
    font-size: 20px;
}

.pilih_unselected{
    margin-right: 15px;
    width: 150px;
    height: inherit;
    display: inline-flex;
    border: 2px solid grey;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.order_number{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 3px;
    background-color: grey;
    float: left;
    width: 20%;
    border-radius: 50%;
    text-align: center;
}

.order_name{
    display: inline;
    float: right;
    width: 70%;
    margin-left: 10px;
}

.form_destinasi{
    display: flex;

}

.atribut_form_destinasi{
    font-size: 25px;
    width: 40%;
    display: inline-flex;
    float: left;
}

.input_form_destinasi{
    width: 60%;
    float: right;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}

#submit_button_destinasi{
    margin-left: 40%;
    background-color: #6ACA6B;
}