#kesan_supir{
    display: block;
    text-align: center;
}

#gambar_supir{
    margin-left: auto;
    margin-right: auto;
}
#username_supir, #nama_supir{
    font-size: 30px;
}

#nama_supir{
    margin-bottom: -40px;
}

#penilaian_rating{
    display: inline-block;
}

#bnt_1, #bnt_2, #bnt_3, #bnt_4, #bnt_5{
    display: inline-block;
    margin-right: -15px;
    color: yellow;
    font-size: 100px;
}
#angka_1, #angka_2, #angka_3, #angka_4, #angka_5{
    display: inline-block;
    margin-right: 5px;
    color: black;
    font-size: 20px;
}

#complete_order{
    float: right;
    background-color: green;
}

#komentar_supir{
    line-height: 5em;
}