#hai{
    right: 50px;
    text-align: right;
}

a.logout{
    position: absolute;
    right: 50px;
    text-align: right;
}

div.username{
    font-weight: bold;
}

#pilihan{
    display: inline;
}

a.profil_box, a.history_box{
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

#order_box{
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    background-color: green;
    text-align: center;
}

#pilih_destinasi{
    width: 150px;
    background-color: yellow;
    display: inline-block;
    border: 2px solid grey;
}

a.pilih_supir, a.selesai_order{
    width: 150px;
    display: inline-block;
    border: 2px solid grey;
    text-decoration: none;
    color: black;
}

