#hai{
    right: 50px;
    text-align: right;
}
a.logout{
     position: fixed;
     right: 50px;
     text-align: right;
}

div.username{
    font-weight: bold;
    display: inline;
}

#pilihan{
    position: static;
}

#order_box, #history_box {
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    text-align: center;
}

#profil_box{
    width: 150px;
    border: 2px solid greenyellow;
    display: inline-block;
    background-color: green;
    text-align: center;
}

#biodata{
    text-align: center;
}