#comment{
    left: 10px;
}

#daftar_order{
    display: inline-flex;
    width: 100%;
}

.hide{
    margin-left: 20%;
    width: 20%;
    display: inline-flex;
    float: right;
    background-color: red;
    border: 2px solid black;
    border-radius: 15%;
}

.identitas_riwayat{
    float: right;
    width: 100%;
    margin-left: 15px;
}

.profil{
    display: flex;
}

.tanggal_nama{
    display: inline;
}

.tanggal{
    color: grey;
    font-size: 20px;
}

.nama_supir{
    font-size: 25px;
}

.tujuan_awal, .tujuan_akhir{
    display: inline;
}

.comment{
    margin-left: 5px;
}

.rating{
    display: inline;
    color: yellow;
}