#riwayat_sebelumnya{
    width: 225px;
    border: 2px solid deepskyblue;
    display: inline-block;
    background-color: greenyellow;
    text-align: center;
}

a.riwayat_supir{
    width: 225px;
    border: 2px solid deepskyblue;
    display: inline-block;
    text-align: center;
    color: black;
    text-decoration: none;
}

#comment{
    left: 10px;
}

#hide{
    background-color: red;
}