@font-face {
    font-family: 'VeneerClean'; /*a name to be used later*/
    src: url('VeneerCleanReg.otf'); /*URL to font*/
}

@font-face {
    font-family: 'Rockingham'; /*a name to be used later*/
    src: url('rockingham-regular-webfont.ttf'); /*URL to font*/
}

body{
    font-family: 'VeneerClean';
    margin-right: 30%;
    margin-left: 30%;
    
}



.page_title{
    color: #333333;
    font-size: 220%;
    font-weight: bold;
    margin-top: 10px;
}

.page_subtitle{
    font-size: 200%;
}

.page_subtitle .pena{
	float: right;
	width: 5%;
}



#header{
    height: 15%;
    font-family: sans-serif;
}

#header #company{

    width: 50%;
    float: left;

}

#header #company #name{

    font-size: 250%
}

#header #userid{

    float: right;
    font-weight: bold;
    text-align: right;

}

#header #userid #username{


}

#header #userid a{

}

#nav_tab{
    height: 10%;

}

#nav_tab table{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 200%;
}

#nav_tab td{
    width: 33%;
    border: 2px solid black;
}

#nav_tab td.selected{
    background-color: #465D43;
}

#nav_tab a{
    color: black;
    text-decoration: none;
}

#nav_tab td.selected a{
    color: white;
}

.button_green{
    background-color: green;
}

.button_red{
    border-radius: 10px;
    border: 2px solid black;
	background-color: red;
}

#history_tab{

    height: 10%;
}
#history_tab table{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 150%;
}

#history_tab td{
    width: 50%;
    border: 2px solid black;
}

#history_tab td.selected{
    background-color: #6ACA6B;
}

#history_tab a{
    color: black;
    text-decoration: none;
}

.tabel_riwayat table{
    font-family: 'rockingham';
    width: 100%;
}

.tabel_riwayat img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.tabel_riwayat button{
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: red;
    float: right;
}

.tabel_riwayat .star_gold{
    color: gold;
}

.tabel_riwayat .tanggal_riwayat{
    color: grey;
}

.cell_profpic{
    width: 150px;
    height: 100px;
}

.tabel_prefLoc table{
    width: 100%;
    border-collapse: collapse;
}

.tabel_prefLoc tr td{
    border: 2px solid black;
}

.add_form{
    width: 100%;

}

.entry{
    width: 80%;
    height: 30px;
    font-size: 110%;
}

.add_form .button_green{
    float: right;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
}