#ojek{
    display: inline;
}

#hai{
    right: 50px;
    text-align: right;
}

#logout{
    position: absolute;
    right: 50px;
    float: right;
    display: inline;
}

#merek{
    float: left;
    display: inline;
}

#nav{
    height: 50px;
}

#username{
    font-weight: bold;
    display: inline;
}